:root {
  --color-brand-light: #819b57;
}

:root {
  --color-brand-dark: #465929;
}

:root {
  --color-primary-light: #faf4ea;
}

:root {
  --color-primary-dark: #31261a;
}

/* Base */
body  {
    color:var(--color-primary-dark);
}
ul {
  list-style-type: none;
}

/* Button */
.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-dark);
  border: 2px solid var(--color-brand-dark);
  border-radius: 8px;
  cursor: pointer;
}

button.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}
/* Link */
.link {
  color: var(--color-primary-light);
}

.link:hover {
  color: var(--color-brand-light);
}

/* Herro */
.herro-title {
  color: var(--color-primary-light);
}

.herro-title .accent {
  color: var(--color-brand-light);
}

/* Advantages */
.advantages-list {
  background-color: var(--color-brand-light);
}

.advantages-list {
  color: var(--color-primary-light);
}

/* Section */
.section-title .accent{
  color: var(--color-brand-dark);
}

 {
}

 {
}

 {
}
